// Fontes
$fontPrincipal :'Roboto', sans-serif;

// Cores
$corDeFundo: #182C61;
$corLetras: #fff;
$coresButton: #44bd32;
$corButtonHover: #4cd137;
$corDePg: #f5f6fa;


// medias
$tablet: 1023px;
$mobile: 767px;